.apparition {
    animation: fadein 2sc;
}

.validé {
    transition-delay: 1sc;
    transition-property: margin-right;
    background-color: aquamarine;
}

.button:hover {
    color: #deebff;
}

.validé {
    color: #ffffff;
    background-color: #99e2d0;
    height: 75px;
    border-radius: 0px 20px 20px 0px;
    border: none;
    margin-block-end: 0px;
    margin-block-start: 0px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 60px;
    align-items: center;
    right: 0px;
    top: 0px;
}

.block {
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#section1 {
    animation-delay: 0.5s;
}
#section2 {
    animation-delay: 1.5s;
}
#section3 {
    animation-delay: 2.5s;
}

.hidden-icon {
    display: none;
}

#toggle-checkbox:checked + .hidden-icon {
    display: inline;
}
